<fieldset class="govuk-fieldset">
    <legend ref="header" class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        {{ctx.t(ctx.component.legend)}}
        {% if (ctx.component.tooltip) { %}
        <details class="govuk-details" style="margin-top: 5px" data-module="govuk-details">
            <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          {{ctx.component.tooltipTitle || 'Help'}}
                        </span>
            </summary>
            <div class="govuk-details__text">
                {{ctx.component.tooltip}}
            </div>
        </details>
        {% } %}
    </legend>
    {% if (!ctx.collapsed) { %}
    <div ref="{{ctx.nestedKey}}">
        {{ctx.children}}
    </div>
    {% } %}
</fieldset>