<div class="govuk-accordion gov-accordion-no-bottom {{ctx.component.customClass}}"  data-module="govuk-accordion" id="accordion-{{ctx.component.key}}">
    {% if (ctx.component.collapsible) { %}
    <div class="govuk-accordion__section {{!ctx.collapsed ? 'govuk-accordion__section--expanded': ''}}">
        <div class="govuk-accordion__section-header" ref="header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-{{ctx.component.key}}-heading">
                   {{ctx.t(ctx.component.title)}}
                </span>
                <span class="govuk-accordion__icon"></span>
            </h2>
        </div>
        {% if (!ctx.collapsed ) { %}
        <div id="accordion-{{ctx.component.key}}-content"
             aria-labelledby="accordion-{{ctx.component.key}}-heading"
             class="govuk-accordion__section-content" ref="{{ctx.nestedKey}}">
            {{ctx.children}}
        </div>
        {% } %}
    </div>
    {% } else { %}
    <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header" ref="header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-{{ctx.component.key}}-heading">
                   {{ctx.t(ctx.component.title)}}
                </span>
            </h2>
        </div>
        <div class="govuk-accordion__section-content"
             id="accordion-{{ctx.component.key}}-content"
             aria-labelledby="accordion-{{ctx.component.key}}-heading"
             ref="{{ctx.nestedKey}}">
            {{ctx.children}}
        </div>
    </div>
    {% } %}
</div>
