<div class="govuk-checkboxes">
    {% ctx.values.forEach(function(item) { %}
    <div class="govuk-checkboxes__item" ref="wrapper">
        <{{ctx.input.type}}
        ref="input"
        {% for (var attr in ctx.input.attr) { %}
        {{attr}}="{{ctx.input.attr[attr]}} {% if (attr==='class') { %} govuk-checkboxes__input {% } %}"
        {% } %}
        value="{{item.value}}"
        {% if (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value])) { %}
        checked=true
        {% } %}
        id="{{ctx.id}}{{ctx.row}}-{{item.value}}"
        >
        <label class="govuk-label govuk-checkboxes__label" for="{{ctx.id}}{{ctx.row}}-{{item.value}}">
            <span>{{ctx.t(item.label)}}</span>
        </label>
    </div>
    {% }) %}
</div>
