<div>
    <input class="govuk-input govuk-input--width-2" value="{{ctx.hour}}" type="number" step="1" ref="hour" placeholder="HH"/>
    <input class="govuk-input govuk-input--width-2" value="{{ctx.minute}}" type="number"  step="1" ref="minute" placeholder="MM"/>
</div>
